<table class="table table-striped">
  <% post.comments.each do |comment| %>
    <thead>
      <tr>
        <th><%= comment.user.email %>:</th>
        <th><%= simple_format(comment.body) %></th>
        <th>
          <% if comment.user === current_user %>
            <%= link_to "Edit", edit_user_post_comment_path(@user, post, comment) %>
            <%= link_to "Delete", user_post_comment_path(@user, post, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-danger" %>
          <% end %>
        </th>
      </tr>
    </thead>
  <% end %>
</table>
